* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.services {
    padding: 100px;
    gap: 100px;
}

h2 {
    text-align: center;
    padding-top: 10px;
}

.text-titulo-services {
    text-align: center;
    font-size: 40px;
    font-weight: bold;   
}

.text-subtitulo-services {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.text-paragrafo-services {
    display: block;
    text-align: center;
    overflow-wrap:normal;
    font-size: 20px;
    word-break: break-all;
    padding-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    background-color: black;
    padding: 40px;
}
    

.grid-item {
    background-color: purple ;
    padding: 24px;
    border-radius: 12px;
    color: black;
}

.grid-item h3 {
    font-size: 14;
    letter-spacing: 1px;
    margin-bottom: 12px;
    color: white;
}

.grid-item p {
    font-size: 14px;
    line-height: 1.5;
    color: white;
}